/*
* @Author: hanli
* @Date:   2017-06-20 14:43:48
* @Last Modified by:   hanli
* @Last Modified time: 2017-06-20 19:01:59
*/
*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: black;
   font-size: 12px; 
   height:50px;
   line-height: 50px;
   text-align: center;
   word-spacing: 15px;
}

.one a{
  text-decoration: none;
  color:white;
}

.one a:hover{
  color:yellow; 
}

span#shopping{
  display: inline-block;
  width: 100px;
  background-color: #333;
}

#shopping a{
  text-decoration: none;
  color:white;
}

span#shopping:hover{
  cursor: pointer;
}

#shopping:hover a{
  color:yellow;
}